# ROS 2 colcon workspace ignores
build/
install/
log/
.colcon/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.venv/
env/

# VS Code
.vscode/*
!.vscode/tasks.json

# Misc
*.swp
*.swo
.DS_Store
